<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portifólio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> <!--Import Bootstrap CSS-->
    <link rel="stylesheet" href="../css/style.css"> <!--Import CSS próprio-->
    <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon"> <!--Favicon-->
  </head>
  <body>
    <div class="container-fluid"> <!--Container da tela toda-->
      <div class="row">
        <div class="col-md-3 menu"> <!--Menu-->
          <div class="fotoPerfil">
            <img src="../assets/fotoPerfil.png" alt="Foto de Perfil"> <!--Foto de Perfil-->
          </div>
          <div class="navbar"> <!--Navbar de Páginas para tela grande-->
            <a href="../index.html">SOBRE</a>
            <a href="experience.html">EXPERIÊNCIA</a>
            <a href="education.html">EDUCAÇÃO</a>
            <a href="#"  class="selecionado">HABILIDADES</a>
            <a href="interests.html">INTERESSES</a>
            <a href="awards.html">PRÊMIOS</a>
          </div>
          <div class="btn-group navbar-dropdown"> <!--Navbar de Páginas para tela pequena-->
            <button class="btn btn-secondary btn-lg dropdown-toggle btn-navbar-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              SOBRE
            </button>
            <ul class="dropdown-menu dropdown-links">
              <li><a href="../index.html">SOBRE</a></li>
              <li><a href="experience.html">EXPERIÊNCIA</a></li>
              <li><a href="education.html">EDUCAÇÃO</a></li>
              <li><a href="#"  class="selecionado">HABILIDADES</a></li>
              <li><a href="interests.html">INTERESSES</a></li>
              <li><a href="awards.html">PRÊMIOS</a></li>
            </ul>
          </div>
        </div>
        <div class="col-9"> <!--Conteúdo-->
          <div class="conteudo-experience">
            <h1 class="text-start m-3">HABILIDADES</h1>
            <div class="descExp flex-column">
              <div class="descExp-header container-fluid m-1">
                <div class="row">
                  <div class="col-md-12 flex-column">
                    <h3>Tecnologias</h3>
                    <div class="imagens-habilidades mx-2 my-4">
                      <img src="https://cdn-icons-png.flaticon.com/512/5968/5968267.png" alt="" height="50px" width="50px" class="img-link">
                      <img src="https://cdn-icons-png.flaticon.com/512/5968/5968242.png" alt="" height="50px" width="50px" class="img-link">
                      <img src="https://img.icons8.com/color/512/javascript.png" alt="" height="50px" width="50px" class="img-link">
                      <img src="https://img.icons8.com/?size=512&id=20906&format=png" alt="" height="50px" width="50px" class="img-link">
                    </div>
                    <h3>Fluxo de Trabalho</h3>
                    <ul class="my-3 px-2">
                      <p><span class="p-b">✔️</span> Mobile-First</p>
                      <p><span class="p-b">✔️</span> Desenvolvimento Ágil e Scrum</p>
                    </ul>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> <!--Import Bootstrap JS-->
  </body>
</html>